<!--
 * @Author: zhangshaolong
 * @Date: 2022-01-14 22:17:44
-->

<z-layout class="app-layout">
  <!-- <z-side>
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul z-menu (nzClick)="nzClick1()" nzMode="inline">
      <li z-menu-item zMatchRouter>
        <a>
          <span *ngIf="language === 'en'">Components Overview</span>
          <span *ngIf="language === 'zh'">组件总览</span>
        </a>
      </li>

      <li z-menu-group *ngFor="let group of sideMenuList.components" [hidden]="group.language !== language"
        [zTitle]="group.name">
        <ul>
          <ng-container>
            <li z-menu-item nzMatchRouter *ngFor="let component of group.children">
              <a routerLink="{{ component.path }}">
                <span>{{ component.label }}</span>
                <span class="chinese">{{ component.zh }}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </z-side>
  <z-layout>
    <z-header>

      <app-fixed-widgets
      [theme]="theme"
      (themeChange)="onThemeChange($event)"
      [language]="language"
    ></app-fixed-widgets>
    </z-header>
  </z-layout> -->

  <!-- <div  z-row [nzGutter]="30">
    <div z-col class="gutter-row" [nzSpan]="6"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="6"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="6"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="6"><div class="bg">col-6</div></div>
  </div> -->
  <!-- <div  z-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div z-col class="gutter-row" [nzSpan]="6"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="6"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="6"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="6"><div class="bg">col-6</div></div>
  </div> -->
  <!-- <div z-row [nzGutter]="[16, 24]">
    <div z-col class="gutter-row" [nzSpan]="12"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="12"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="24"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="1"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="1"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="1"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="9"><div class="bg">col-6</div></div>
    <div z-col class="gutter-row" [nzSpan]="12"><div class="bg">col-6</div></div>
  </div> -->
  <div style="width: 300px;">
    <!-- <input nz-input placeholder="large size" nzSize="large" />
      <input nz-input placeholder="default size" nzSize="default" />
      <input nz-input placeholder="small size" nzSize="small" />
      <input nz-input placeholder="small size" disabled="true"/> -->
    <!-- <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      6666
    </ng-template> -->

    <!-- <nz-input-group nzAddOnAfterIcon="setting">
      <input type="text" nz-input  />
    </nz-input-group> -->
  </div>
  <!-- <button z-button type="primary" (click)="nzClick1()" >click me</button> -->
  <nz-time-picker [(ngModel)]="time" [nzDefaultOpenValue]="defaultOpenValue"></nz-time-picker>
</z-layout>