<!--
 * @Author: zhangshaolong
 * @Date: 2021-12-25 14:07:00
-->
<!-- <div class="app-container">
  <z-header>
    头部
  </z-header>
  <z-side>
    侧边
  </z-side>
  <z-content>
    内容
  </z-content>
  <z-footer>
    底部
  </z-footer>
</div> -->
<z-layout class="app-layout">
  <z-side>
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul z-menu nzMode="inline"  >
      <li z-submenu zTitle="Dashboard" >
        <ul>
           <li z-menu-item >
             <a>Welcome</a>
           </li>
           <li z-menu-item>
             <a>Monitor</a>
           </li>
         </ul>
       </li>
    </ul>
  </z-side>
</z-layout>
